%strong Confirmed booking!!!
.card.margin-10
  .card-body 
    %strong Movie
    %p= @movie.name
    %strong Time
    %p= standard_date_time(@show.time)
    %strong Seats
    %p= @seats.map { |seat| "#{seat.row} - #{seat.column}" }.join(", ")
= link_to 'Cancel Booking', booking_path(@booking.id), data: { turbo_method: :delete }, class: "btn btn-danger cancel-link"