%strong Confirmed booking!!!
.card.margin-10
  .card-body 
    - if current_user.admin?
      %strong User Name
      %p= @user.first_name + ' ' + @user.last_name
    %strong Movie
    %p= @movie.name
    %strong Start Time
    %p= standard_date_time(@show.start_time)
    %strong End Time
    %p= standard_date_time(@show.end_time)
    %strong Seats
    %p= @seats.map { |seat| "#{seat.row} - #{seat.column}" }.join(", ")
    %strong Total Fare
    %p= @booking.total_fare
= link_to 'Cancel Booking', booking_path(@booking.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger cancel-link"