%strong Confirmed booking!!!
.card.margin-10
  .card-body 
    %strong Movie
    %p= @movie.name
    %strong Time
    %p= standard_date_time(@show.time)
    %strong Seats
    %p= @seats.map { |seat| "#{seat.row} - #{seat.column}" }.join(", ")
    %strong Total Fare
    %p= @booking.total_fare
= link_to 'Cancel Booking', booking_path(@booking.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger cancel-link"