%pe Select seats for show
%strong= @movie.name
%pe at
%strong= standard_date_time(@show.time)
%br
%br
= form_for @booking, path: new_booking_path do |f|
  = f.hidden_field :show_id, value: @show.id
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :fare, value: @show.fare
  = f.collection_check_boxes :seat_ids, @seats, :id, :row do |b|
    - if @current_row.nil?
      %strong.padding-right-30= b.object.row

    - unless b.object.row == @current_row || @current_row.nil?
      %br
      %strong.padding-right-30= b.object.row

    %pe.padding-right-10
      = b.check_box(disabled: @booked_seat_ids.include?(b.object.id))
      = b.label  { "#{b.object.column}" }
    - @current_row = b.object.row

  %br
  %br

  = f.submit "Book Now", class: "btn btn-primary"
      